footer {
    height: 130px;
    background-color: #000;
    color: white;
    display: block;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.copyright {
    padding-top: 1%;
}

.footerSocial a {
    color: white;
    margin: 0 15px;
}