
// HEADER STYLES

header {
    background-image: linear-gradient(to right, rgba(255,255,255,0.3),
    rgba(255,255,255,0.7)), url(../assets/bg1.jpeg);
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
}

.heading {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.arrow {
    text-align: center;
    align-self: flex-end;
}





