
// HEADER STYLES

header {
    background: linear-gradient(to bottom right, rgba(255,255,255,0.2), rgba(255,255,255,0.5)), url(../assets/background.jpg);
    height: 100vh;
    background-size: cover;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 125px;
    height: 80vh;
}

h1 {
    font-size: 7rem;
    letter-spacing: 2px;
    font-weight: 500;
}

.pet::after {
    content:'';
    display: block;
    width: 150px;
    height: 5px;
    background-color: #f3be2c;
    margin: 20px auto;
}

p {
    font-size: 2.4rem;
    font-weight: 600;
}

.heading span {
    color: #f3be2c;
}

.heading P {
    width: 60%;
    line-height: 1.8;
}

.arrow {
    text-align: center;
    font-size: 4rem;
    margin-top: 40px;
}

.arrow a {
    color: inherit;
}

.clickHere {
    display: block;
    font-size: 1.5rem;
}

.arrowHeader {
    transition: 0.3s;
}

.arrowHeader:hover, .arrowHeader:active {
    color: #f3be2c;
    transform: scale(1.2);
}



@media (max-width: 1050px){
    header {
        background: linear-gradient(to bottom right, rgba(255,255,255,0.5), rgba(255,255,255,0.8)), url(../assets/background.jpg);
        height: 100vh;
        background-size: cover;
    }

    .heading {
        padding-left: 75px;
    }
}

@media (max-width: 600px){
    .heading {
        padding: 0 20px;
    }

    .heading h1 {
        font-size: 6rem;
    }

    .heading p {
        width: 90%;
    }

}





