
/* RADIOBUTTON LABEL STYLING */

input[type="radio"]{
    visibility: hidden;
    height: -1;
    width: -1;
}

input[type='submit'] {
    cursor: pointer;
    background-color: #403F39;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all .3s ease-out;
    width: 220px;
    padding: 10px;
}


label {
    cursor: pointer;
    vertical-align: middle;
    text-align: right;
    padding: 5px 10px;
    border-radius: 3px;
    width:250px;
/*     border: 1px solid blue;
 */    background-color: #F1EFFF;
}

input[type="radio"]:checked + label {
    background-color: #FFD531;
    transition: 0.3s ease-out all;
    width:100%;
}



/* GENDER SELECTION SECTION STYLES */

.genderCatergoryForm {
    display: block;
    height: 100vh;
    margin: 0 auto;
}

.gender {   
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.labelWrapper {
    display: flex;
    width: 70%;
    justify-content: space-around;
    padding-top: 18%;
}



/* CATEGORY SELECTION SECTION STYLES */
#categorySection {
    background-color: #FF7F50;
}

.main-carousel {
    padding: 50px 0;
}

.radioButtons {
    display: flex;
    flex-direction: column;
}

.radioButtons input[type="radio"] {
    visibility: hidden;
    height: -1;
    width: -1;
}

.radioButtons label {
    cursor: pointer;
    text-align: center;
    margin: 10px;
    font-size: 2.5rem;
}

.categoryIcon {
    text-align: center;
    font-size: 10rem;
    margin-top: 50px;
}

// category carousel styles

.carousel-cell {
    width: 33%; /* full width */
    height: 40vh; /* height of carousel */
}

.flickity-button {
background: transparent;
}

.flickity-prev-next-button {
width: 75px;
height: 75px;
}

/* GIFT RESULTS CONTAINER STYLES */

.genderTitle{
    padding-top: 60px;
    text-align: center;
}

.gifts {
    height: 100vh;
}

.giftContainer {
    display: flex;
    border: 1px solid green;
    justify-content: space-between;
}

.giftResult1, .giftResult2, .giftResult3 {
    display: flex;
    flex-direction:column;
    flex-basis: 31%;
    margin: 0 1%;
    border: 1px solid red;
    justify-content: space-between;

}

.giftResult1 img, .giftResult2 img, .giftResult3 img {
    width: 100%;
    height: 300px;
}

//how to  make the border transition on hover or selection
// .radioButtonContainer {
//     height: 30%;
//     border: 2px solid  #fc4b2a;
//     border-radius: 50%;
//     width: 28%;
//     text-align: center;
//     padding-top:10px;
// }
