

// CATEGORY SECTION STYLES

#categorySection {
    background: linear-gradient(to bottom right, rgba(255,255,255,0.6), rgba(255,255,255,0.9)), url(../assets/background-2.jpg);
    background-size: cover;
}

#categorySection h2 {
    padding-top: 100px;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Josefin Slab', serif;
}

#categorySection span {
    border-bottom: 4px solid #f3be2c;
}

fieldset {
    border: none;
}

.categoryWrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

// category section radio/select buttons and labels

.radioButtonsCategory {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.radioButtonsCategory input[type="radio"] {
    visibility: hidden;
    height: -1px;
    width: -1px;
}

.radioButtonsCategory label {
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 600;
}

.radioButtonsCategory input[type="radio"]:checked + label {
    transition: 0.6s;
}

.radioButtonsCategory input[type="radio"]:checked + label {
    transform: scale(1.2);
    color: #f3be2c;
}

.radioButtonsCategory i {
    text-align: center;
    font-size: 8rem;
    margin-bottom: 20px;
}

// submit choices button and container

.submit-container {
    text-align: center;
    padding: 50px 0;
}

#gifts, #submitChange {
    border: none;
    padding: 20px 50px;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: 0.6s;
    border: 2px solid black;
    color: black;
    background-color: white;
    margin-bottom: 50px;
}

#gifts:hover, #submitChange:hover {
    background-color: #f3be2c;
}


/* GIFT RESULTS STYLES*/

.giftContainer h2 {
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 4px solid #f3be2c;
    width: 60%;
    margin: 10px auto;
    letter-spacing: 1px;
}

.giftContainer {
    display: flex;
    justify-content: space-between;
}

.giftResult1, .giftResult2, .giftResult3 {
    display: flex;
    flex-direction: column;
    flex-basis: 31%;
    margin: 5% 1%;
    justify-content: space-between;
}

.giftResult1 img, .giftResult2 img, .giftResult3 img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    border: 3px solid black;
}

.gifts i {
    transition: 0.3s;
}

.gifts i:hover {
    transform: scale(1.2);
}

#changeItem {
    width: 50%;
    border-radius: 3px;
    color: black;
    padding: 15px 20px;
    font-size: 1.8rem;
    font-weight: 600;
    border: 3px solid black;
    background-color: white;
    box-shadow: 3px 3px 10px #f3be2c;
    margin-right: 20px;
    transition: 0.3s;
}

#changeItem:hover {
    background-color: #f3be2c;
    box-shadow: 3px 3px 10px white;
}

#linkItem1, #linkItem2, #linkItem3 {
    color: black;
    font-size: 2.5rem;
    align-self: flex-end;
}

.linkChange1, .linkChange2, .linkChange3 {
    margin-top: 20px;
    display: flex;
}

.gifts h3 {
    margin-top: 20px;
}

.submitChange {
    text-align: center;
}

#submitChange {
    margin: 50px 0;
}




@media (max-width: 910px) {
    label {
        font-size: 1.8rem;
    }

    .radioButtonsCategory label {
        width: 60%;
        margin: 5px;
    }

}

@media (max-width: 850px) {
    .giftContainer {
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
    }

    .gifts .giftifyHeading {
        margin-top: 2%;
        width:50%
    }
}

@media (max-width: 700px){
    #categorySection h2 {
        width: 70%;
        margin: 0 auto;
        line-height: 1.6;
    }
}


@media (max-width: 500px) {

    .labelWrapper {
    flex-direction: column;
    align-items: center;
    }

    .giftContainer {
        width: 80%;
    }

    .radioButtonContainer {
        margin: 20px 0;
    }

    .radioButtonsCategory {
        width: 50%;
        display: flex;
    }

    .giftIdeas .teacherHeading {
        margin-top: 20px;
    }

}