.gifts {
    height: 100vh;

}

.giftContainer {
    display: flex;
    border: 1px solid green;
    justify-content: space-between;
}

.giftResult1, .giftResult2, .giftResult3 {
    display: flex;
    flex-direction:column;
    flex-basis: 31%;
    margin: 0 1%;
    border: 1px solid red;
    justify-content: space-between;
    /* height: 400px; */
}

.giftResult1 img, .giftResult2 img, .giftResult3 img {
    width: 100%;
    height: 900px;
}