html {
    font-size: 62.5%;
}

body {
    font-family: 'Josefin Slab', serif;
}

h1, h2, h3 {
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 8rem;
    letter-spacing: 2px;
    font-weight: 500;
}

h2 {
    font-size: 3rem;  
}

h3 {
    font-size: 1.6rem;
    display: inline;
}

p {
    font-size: 2.2rem;
    font-weight: 400;
}

label {
    font-size: 2.2rem;
    padding: 10px;
}


/* GIFTIFY HEADING TITLE */
h2.giftifyHeading {
    font-weight: 300;
}


/* FOOTER SOCIAL MEDIA ICONS */
.footerSocial {
    font-size: 1.8rem;
}

