.wrapper {
    margin: 0 auto;
    max-width: 900px;
}

// a { text-decoration: black; }
// a:visited { text-decoration: black; }
// a:hover { text-decoration: black; }
// a:focus { text-decoration: black; }
// a:hover, a:active { text-decoration: black; }