article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  margin: 0 auto;
  max-width: 900px; }

a {
  text-decoration: black; }

a:visited {
  text-decoration: black; }

a:hover {
  text-decoration: black; }

a:focus {
  text-decoration: black; }

a:hover, a:active {
  text-decoration: black; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Raleway', sans-serif; }

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif; }

h1 {
  color: #fc4b2a;
  font-size: 8rem;
  letter-spacing: 2px;
  font-weight: 500; }

h1::after {
  content: '';
  display: block;
  width: 150px;
  height: 2px;
  background-color: #fc4b2a;
  margin: 20px auto; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  display: inline; }

p {
  font-size: 2.2rem;
  font-weight: 400; }

label {
  font-size: 2.2rem;
  padding: 10px; }

/* GENDER ICONS */
.fa-mars::before {
  font-size: 100px; }

.fa-mars::before {
  font-size: 100px; }

.fa-venus::before {
  font-size: 100px; }

.fa-transgender::before {
  font-size: 100px; }

/* FOOTER SOCIAL MEDIA ICONS */
.footerSocial {
  font-size: 1.8rem; }

header {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7)), url(../assets/bg1.jpeg);
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center; }

.heading {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0; }

.arrow {
  text-align: center;
  font-size: 4rem;
  margin-top: 50px; }

.arrow a {
  color: inherit; }

h1 {
  font-size: 8rem;
  letter-spacing: 2px;
  font-weight: 500; }

h1::after {
  content: '';
  display: block;
  width: 150px;
  height: 2px;
  background-color: #fc4b2a;
  margin: 20px auto; }

p {
  font-size: 2.2rem;
  font-weight: 500; }

/* RADIOBUTTON LABEL STYLING */
.genderTitle {
  padding-top: 60px;
  text-align: center; }

.radioButtonsGender input[type="radio"] {
  visibility: hidden;
  height: -1px;
  width: -1px; }

.radioButtonsGender label {
  cursor: pointer;
  vertical-align: middle;
  text-align: right;
  padding: 5px 10px; }

.radioButtonsGender input[type="radio"]:checked + label {
  border-bottom: 2px solid black;
  transition: 0.3s ease-out all;
  width: 100%; }

.radioButtonsGender a {
  color: #000; }

.arrowHeader, .arrowGender {
  transition: 0.3s; }

.arrowHeader:hover, .arrowHeader:active, .arrowGender:hover, .arrowGender:active {
  color: #FF7F50;
  transform: scale(1.2); }

.arrowGender, .arrowCategory {
  padding-bottom: 50px;
  width: 50%;
  margin: 0 auto; }

/* GENDER SELECTION SECTION STYLES */
.genderCatergoryForm {
  margin: 0 auto; }

.gender {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%; }

.labelWrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 11%; }

/* CATEGORY SELECTION SECTION STYLES */
#categorySection {
  background-color: #FF7F50; }

.main-carousel {
  padding: 10% 0 6% 0; }

.radioButtonsCategory {
  display: flex;
  flex-direction: column;
  align-items: center; }

.radioButtonsCategory input[type="radio"] {
  visibility: hidden;
  height: -1px;
  width: -1px; }

.radioButtonsCategory input[type="radio"]:checked + label {
  border-bottom: 2px solid black;
  transition: 0.3s ease-out all;
  width: 50%; }

.radioButtonsCategory label {
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column; }

.radioButtonsCategory i {
  text-align: center;
  font-size: 8rem;
  margin-bottom: 20px; }

.arrowCategory {
  transition: 0.3s; }

.arrowCategory:hover, .arrowCategory:active {
  color: white;
  transform: scale(1.2); }

.carousel-cell {
  width: 33%;
  /* full width */ }

.flickity-prev-next-button {
  width: 50px;
  height: 50px;
  background: transparent; }

fieldset {
  border: none; }

.submit-container {
  text-align: center; }

#giftify {
  border: none;
  margin-top: 50px;
  padding: 20px 100px;
  border-radius: 5px;
  background-color: #FF7F50;
  font-size: 2rem;
  text-transform: uppercase; }

/* GIFT RESULTS CONTAINER STYLES */
.gifts {
  margin-top: 20px; }

.gifts h2 {
  font-size: 1.4rem; }

.giftContainer {
  display: flex;
  justify-content: space-between; }

.giftResult1, .giftResult2, .giftResult3 {
  display: flex;
  flex-direction: column;
  flex-basis: 31%;
  margin: 5% 1%;
  justify-content: space-between; }

.giftResult1 img, .giftResult2 img, .giftResult3 img {
  width: 100%;
  height: 300px; }

#changeItem {
  width: 40%;
  border: none;
  border-radius: 5px;
  background-color: #FF7F50;
  color: white;
  padding: 10px; }

#linkItem1, #linkItem2, #linkItem3 {
  color: black;
  font-size: 2.5rem;
  align-self: flex-end; }

.linkChange1, .linkChange2, .linkChange3 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between; }

.submitChange {
  text-align: center; }

#submitChange {
  border: none;
  margin: 50px 0;
  padding: 20px 70px;
  border-radius: 5px;
  background-color: #FF7F50;
  font-size: 2rem;
  text-transform: uppercase; }

.submitChange {
  text-align: center; }

@media (max-width: 910px) {
  label {
    font-size: 1.8rem; }
  .carousel-cell {
    width: 33%;
    /* full width */ }
  .radioButtonsCategory label {
    width: 60%;
    margin: 5px; } }

@media (max-width: 850px) {
  .giftContainer {
    flex-direction: column;
    width: 50%;
    margin: 0 auto; } }

@media (max-width: 600px) {
  .carousel-cell {
    width: 100%;
    /* full width */ } }

@media (max-width: 500px) {
  .labelWrapper {
    flex-direction: column;
    align-items: center; }
  .giftContainer {
    width: 80%; }
  .radioButtonContainer {
    margin: 20px 0; } }

footer {
  height: 130px;
  background-color: #000;
  color: white;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 2px;
  padding-bottom: 10px; }

.copyright {
  padding-top: 1%; }

.copyright a {
  color: white; }

.footerSocial a {
  color: white;
  margin: 0 15px; }
